PORT=4000
DATABASE_URL="postgresql://USER:PASSWORD@HOST-pooler/neondb?sslmode=require&pgbouncer=true"
DIRECT_URL="postgresql://USER:PASSWORD@HOST/neondb?sslmode=require"
ADMIN_NAME=Admin
ADMIN_EMAIL=admin@furnicrm.local
ADMIN_PASSWORD=Admin@123
